<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!-- find these in your own custom ConnectionStrings.Private.config file (not in source control) -->
    <!-- <add name="iayosDemoConnString" connectionString="" /> -->
    <!--<add name="iayosDemoConnString" connectionString="" />-->
    <!--<add name="iayosDemoConnString" connectionString="Data Source=BEAST; Initial Catalog=iayos.core.db.deploy.NUKEABLE; User ID=sa; Password=daleholborow" />-->
    <add name="iayosDemoConnString" connectionString="Server=localhost;Database=iayos.core.db.deploy.NUKEABLE;User Id=sa; Password=tH3dB4dm1n*5000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>